{% extends 'base.html' %}

{% block css %}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('{{ blob_url }}') no-repeat center center fixed;
    background-size: cover;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

{% endblock %}

{% block content %}


<div class="background">
    <div class="container">
        <!-- Hier kannst du deine Inhalte einfügen -->
        <h1>ID card </h1>
        <p>Please select your id card</p>

        <form method="post">
            {% csrf_token %}
            <select id="selected_blob" name="selected_blob">
                {% for blob in list_idcards %}
                    <option value="{{ blob }}">{{ blob }}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit" class="btn btn-outline-primary" style="background:white;color:#1b1469;border-color:#1b1469" >Start verfication process (take some minutes)</button>


        </form>


    </div>
</div>

{% endblock %}